<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/base.css' %}">
    <title>Django Delight Restaurant</title>
</head>

<body>
    <div class="header">
        {% if user.username %}
            <p>Welcome {{ user.username }} :) <a id="button" href="{% url 'logout' %}">Logout</a></p>
            
        {% else %}
            <a id="button" href="{% url 'login' %}">Login</a> 
            <a id="button" href="{% url 'signup' %}">Register</a>
        {% endif %}

        <h1>
            <a id="home-icon" href="{% url 'home' %}">Home</a> 
            Django Delight Restaurant
        </h1>
    </div>

    {% block content %}
    {% endblock content %}

</body>