<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/base.css' %}">
    <title>Django Delight Restaurant</title>
</head>

<body>
  <div class="header">
    <h1><a id="home-icon" href="{% url 'home' %}">Home</a> This is base.html</h1>
    
    {% if user.username %}
        <h2>Welcome {{ user.username }} :)</h2>
        <a id="button" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a id="button" href="{% url 'login' %}">Login</a> 
        <a id="button" href="{% url 'signup' %}">Register</a>
    {% endif %}
  </div>

  {% block content %}
  {% endblock content %}

</body>