<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/base.css' %}">
    <title>Django Delight Restaurant</title>
</head>

<body>
  <h1>This is base.html</h1>

  <a href="{% url 'home' %}"><p>Home</p></a>

  <div class="login-logout-signup-section">
    {% if user.username %}
        <p>Welcome {{ user.username }}</p>
        <a class="logout-button" href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a class="login-button" href="{% url 'login' %}">Log In</a> 
        <a class="signup-button" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</div>

  {% block content %}
  {% endblock content %}

</body>