{% extends "inventory/base.html"%}

{% block head %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<body>
    <div class="menu-bar">
        <a href="{% url 'menuitem_list' %}">Menu</a>
        <a href="{% url 'ingredient_list' %}">Ingredient</a>
        <a href="{% url 'purchase_list' %}">Purchase</a>
        <a href="{% url 'report' %}">Report</a>
    </div>
</body>

<div class="subcontent">
{% block subcontent %}
{% endblock subcontent %}
</div>

{% endif %}

{% endblock content %}