{% extends "inventory/base.html"%}

{% block head %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<body>
    <nav class="menu-bar">
        <a href="{% url 'menuitem_list' %}">Menu</a>
        <a href="{% url 'ingredient_list' %}">Ingredient</a>
        <a href="{% url 'purchase_list' %}">Purchase</a>
        <a href="{% url 'report' %}">Report</a>
        <div class="dot"></div>
    </nav>
</body

{% block subcontent %}
{% endblock subcontent %}

{% endif %}

{% endblock content %}