{% extends "inventory/base.html"%}

{% block head %}
{% endblock %}

{% block content %}
    <p>This is home.html</p>

    {% if user.is_authenticated %}
        <div class="menu-bar">
            <ul>
                <a href="{% url 'menuitem_list' %}"><li>Menu</li></a>
                <a href="{% url 'ingredient_list' %}"><li>Ingredient</li></a>
                <a href="{% url 'purchase_list' %}"><li>Purchase</li></a>
                <a href="{% url 'report' %}"><li>Report</li></a>
            </ul>
        </div>

        {% block subcontent %}
        {% endblock subcontent %}

    {% endif %}

{% endblock %}