{% extends "inventory/home.html"%}

{% block head %}
{% endblock %}

{% block subcontent %}
<div class="ingredient-list">

    <div class="sub-header">
        <h3>Ingredients</h3>
        <a class="add-button" href="{% url 'ingredient_add' %}">Add Ingredient</a>
    </div>

    {% if ingredient_list|length == 0 %}
        <p>No ingredient listed yet</p>
    {% endif %}

    <ul class="list">
        {% for ingredient in ingredient_list|dictsort:"name" %}
            <li>{{ ingredient.name|title }}
                {{ ingredient.quantity }} {{ ingredient.unit }}
                <a href="{% url 'ingredient_update' ingredient.id %}">Edit</a>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock subcontent %}