{% extends "inventory/menu-bar.html"%}

{% block head %}
{% endblock %}

{% block subcontent %}
    <p>This is menuitem_list.html</p>

    <a href="{% url 'menuitem_add' %}"><p>Add Menu</p></a>

    <ul>
        {% for menuitem in menuitem_list %}
            <li>{{ menuitem }}

                {% if menuitem.image %}
                    <img src="{{ menuitem.image.url }}" alt="{{ menuitem.title }}" >
                {% endif %}
                
                <a href="{% url 'menuitem_update' menuitem.id %}">Edit Menu</a>
                <a href="{% url 'recipe_list' menuitem.title|slugify %}"><p>View Recipe</p></a> </li>
        {% endfor %}
    </ul>


{% endblock subcontent %}