{% extends "inventory/home.html"%}
{% load static %}

{% block head %}
{% endblock %}

{% block subcontent %}
<div class="menuitem-list">

    <div class="sub-header">
        <h3>Menu</h3>
        <a class="button add-button" href="{% url 'menuitem_add' %}">Add Menu</a>
    </div>

    <div class="gallery">
        {% if menuitem_list|length == 0 %}
            <p>No menu listed yet</p>
        {% endif %}

        {% for menuitem in menuitem_list|dictsort:"title" %}
            <div class="item">

                {% if menuitem.image %}
                    <img class="imagein" src="{{ menuitem.image.url }}" alt="{{ menuitem.title }}" />
                {% endif %}
    
                <a href="{% url 'recipe_list' menuitem.title|slugify %}"><img class="imageout" src="{% static 'inventory/view-recipe-image.png' %}" alt="view-recipe-image" /></a>

                <div class="menutitle">
                    {{ menuitem.title|title }}
                    ${{ menuitem.price|floatformat:2 }}
                    <a href="{% url 'menuitem_update' menuitem.id %}">Edit</a>
                </div>

            </div>
        {% endfor %}
    </div>

</div> 
{% endblock subcontent %}