{% extends "inventory/home.html"%}

{% block head %}
{% endblock %}

{% block subcontent %}
    <div class="menuitem-list">

        <a id="add-button" href="{% url 'menuitem_add' %}">Add Menu</a>

        <ul>
            {% for menuitem in menuitem_list %}
                <li>
                    {% if menuitem.image %}
                        <img src="{{ menuitem.image.url }}" alt="{{ menuitem.title }}" >
                    {% endif %}
                    {{ menuitem.title|title }}
                    ${{ menuitem.price|floatformat:2 }}
                    
                    <a href="{% url 'menuitem_update' menuitem.id %}">Edit Menu</a>
                    <a href="{% url 'recipe_list' menuitem.title|slugify %}"><p>View Recipe</p></a> 
                </li>
            {% endfor %}
        </ul>

    </div> 
{% endblock subcontent %}