{% extends "inventory/home.html"%}

{% block head %}
{% endblock %}

{% block subcontent %}
    <p>This is purchase_add_form.html</p>

    <div>
        <form method="POST">
            {% csrf_token %}
            <p>
                <label for="menu_item">Menu item:</label>
                <select name="menu_item" id="menu_item" required>
                    <option value selected>-----</option>
                {% for menu_item in available_menuitems %}
                    <option value={{ menu_item.id }}>{{ menu_item.title }}</option>
                {% endfor %}
                </select>
            </p>
            <input type="submit" value="Purchase" />
        </form>
    </div>

{% endblock subcontent %}