{% extends "inventory/home.html"%}

{% block head %}
{% endblock %}

{% block subcontent %}
<div class="purchase-list">

    <div class="sub-header">
        <h3>Purchases</h3>  
        <a class="add-button" href="{% url 'purchase_add' %}">Add Purchase</a>
    </div>

    <p>Reports</p>
    <ul>
        {% for purchase in purchase_list %}
            <li>{{ purchase.menu_item.title|title }}
                {{ purchase.timestamp }}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock subcontent %}