{% extends "inventory/home.html"%}

{% block head %}
{% endblock %}

{% block subcontent %}
<div class="recipe-list">

    <div class="sub-header">
        <h3>{{ menuitem.title|title }} Recipe</h3>
        <a class="add-button" href="{% url 'recipe_add' menuitem.title|slugify %}">Add Recipe</a>
    </div>

    {% if reciperequirement_list|length == 0 %}
        <p>No recipe listed yet</p>
    {% endif %}

    <ul class="list">
        {% for recipe in reciperequirement_list|dictsort:"ingredient.name" %}
            <li>{{ recipe.ingredient.name|title }} 
                {{ recipe.quantity }}
                {{ recipe.ingredient.unit }} 

                <a href="{% url 'recipe_update' menuitem_title=menuitem.title|slugify pk=recipe.id %}">Edit</a>
            </li>
        {% endfor %}
    </ul>
    
</div>

</div>
{% endblock subcontent %}