{% extends "inventory/home.html"%}

{% block head %}
{% endblock %}

{% block subcontent %}
<div class="recipe-list">

    <h3>{{ menuitem_title|title }} Recipe</h3>

    <a href="{% url 'recipe_add' menuitem_title|slugify %}"><p>Add Recipe</p></a>

    <ul>
        {% for recipe in reciperequirement_list %}
            <li>{{ recipe.ingredient.name|title }} 
                {{ recipe.quantity }}
                {{ recipe.ingredient.name|title }} 

                <a href="{% url 'recipe_update' menuitem_title=menuitem_title|slugify pk=recipe.id %}">Edit Recipe</a>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock subcontent %}