{% extends "inventory/home.html"%}

{% block head %}
{% endblock %}

{% block subcontent %}
<div class="recipe-update">

    <h3>Update {{ menuitem.title|title }} Recipe Ingredient</h3>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button update-button" type="submit" value="Update">

        <a class="button delete-button" href="{% url 'recipe_delete' menuitem_title=menuitem.title|slugify pk=reciperequirement.id %}">Delete</a>
    </form>

</div>
{% endblock subcontent %}